[submodule "sharedLib/covid-19-data"]
	path = sharedLib/covid-19-data
	url = https://github.com/nytimes/covid-19-data
[submodule "sharedLib/COVID-19"]
	path = sharedLib/COVID-19
	url = https://github.com/CSSEGISandData/COVID-19
